.footer {
    position: absolute;
    width: 100%;

    &__content {
        width: calc(100% - 76px);
        position: absolute;
        margin: 0 110px 88px 182px;
        top: -118px;

        &--title {
            font-family: $font-primary;
            color: #1D1F45;
            width: 100%;
            max-width: 600px;
            font-size: 74px;
            letter-spacing: -1px;
            line-height: 1em;
        }

        &--subtitle {
            font-family: $font-secondary;
            font-size: 24px;
            padding: 18px 0 56px 0;
        }

        &--image {
            width: 38px;
            height: 38px;
            margin: 0 52px 4px 24px;
            align-content: baseline;
            align-self: end;
        }

        &--contact {
            display: flex;
            flex-direction: column;
        }

        &--contactTitle {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: #787878;
        }

        &--info {
            display: flex;
            padding: 0 0 82px 0;
        }

        &--email,
        &--whatsapp {
            font-family: $font-secondary;
            font-weight: 600;
            font-size: 21px;
            color: $dark-blue;
            padding: 12px 0 0 0;
        }

        &--socialTitle {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-family: $font-secondary;
            font-size: 14px;
            font-weight: 600;
            color: $dark-blue;
        }

        &--socialMedia {
            display: flex;
            justify-content: space-between;
            padding: 32px 0 0 0;
            width: 600px;
        }

        &--socialIcons {
            display: flex;
            justify-content: space-between;
            width: 168px;
        }

        &--icon {
            width: 28px;
        }


        &__copyright {
            display: flex;
            justify-content: space-between;
            padding: 112px 0 62px 0;
            width: calc(100% - -748px);

            &--title {
                font-family: $font-secondary;
                font-size: 18px;

            }

            &--subtitle {
                font-family: $font-secondary;
                font-size: 18px;
            }


        }

    }
}

@media (max-width: 768px) {
    .footer {
        &__content {
            margin: 0 38px 88px 38px;
            top: 16px;

            &--title {
                font-size: 56px;
                text-align: center;
            }

            &--subtitle {
                font-size: 18px;
                text-align: center;
            }

            &--info {
                flex-direction: column;
                
                text-align: center;
            }

            &--socialMedia {
               width: 100%;
                flex-direction: column;
                text-align: center;
            }

            &--socialIcons {
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            &--image {
                align-self: center;
                margin: 12px 0;
            }

            &__copyright {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                &--title,
                &--subtitle {
                    font-size: 16px;
                    width: 100%;
                }

            }

            &--email, &--whatsapp {
                font-size: 15px;
            }
        }
    }
}