@import '../base/base';
@import '../theme/theme';

.header {
    position: relative;
    z-index: 1;

    &__content {
        display: flex;
        align-items: center;

        &__images {
            width: calc(100% - 918px);
            margin: 16px 36px 0 124px;
            display: flex;
            align-items: center;
        }

        &--image {
            width: 196px;
            margin: 12px;
            &:nth-child(2) {width: 72px;}
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 32px 98px auto 24px;
            z-index: 1;
        }

        &--contactButton {
            color: #5E5B63;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
        }

        &--joinButton {
            background-color: $white;
            font-family: $font-primary;
            color: $violet;
            font-weight: 600;
            font-size: 16px;
            border: 1px solid $white;
            border-radius: 8px;
            padding: 12px 32px;
            width: fit-content;
        }
        
    }

    &__background {
        width: 100%;

        &--image {
            width: 852px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }
    }
}

.section {
    &__content {
        width: calc(100% - 138px);
        display: flex;
        flex-direction: column;
        margin: 52px 110px 24px 138px;

        &--title {
            font-family: $font-primary;
            color: $dark-blue;
            width: 342px;
            font-size: 62px;
            letter-spacing: -1px;
            line-height: 1em;
        }

        &--subtitle {
            font-family: $font-secondary;
            color: #5E5B63;
            width: 482px;
            font-size: 16px;
            padding: 38px 0;
        }

        &--image {
            width: 182px;
            padding: 0 0 32px 0;
        }

        &--joinButton {
            background-color: $yellow;
            font-family: $font-primary;
            color: $white;
            font-weight: 600;
            font-size: 16px;
            border: 1px solid $white;
            border-radius: 8px;
            padding: 12px 32px;
            width: fit-content;
        }
    }
}