@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Mulish:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 1;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content__images {
  width: calc(100% - 918px);
  margin: 16px 36px 0 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content--image {
  width: 196px;
  margin: 12px;
}

.header__content--image:nth-child(2) {
  width: 72px;
}

.header__content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 32px 98px auto 24px;
  z-index: 1;
}

.header__content--contactButton {
  color: #5E5B63;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.header__content--joinButton {
  background-color: #fefefe;
  font-family: "Mulish", sans-serif;
  color: #6369D1;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #fefefe;
  border-radius: 8px;
  padding: 12px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__background {
  width: 100%;
}

.header__background--image {
  width: 852px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.main__content {
  width: calc(100% - 138px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 52px 110px 24px 138px;
}

.main__content--title {
  font-family: "Mulish", sans-serif;
  color: #1D1F45;
  width: 342px;
  font-size: 62px;
  letter-spacing: -1px;
  line-height: 1em;
}

.main__content--subtitle {
  font-family: "Montserrat", sans-serif;
  color: #5E5B63;
  width: 482px;
  font-size: 16px;
  padding: 38px 0;
}

.main__content--image {
  width: 182px;
  padding: 0 0 32px 0;
}

.main__content--joinButton {
  background-color: #FFB600;
  font-family: "Mulish", sans-serif;
  color: #fefefe;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #fefefe;
  border-radius: 8px;
  padding: 12px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form {
  background: #13A6DF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__contact {
  background: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 14px;
  padding: 38px 36px;
  margin: 56px;
}

.form__contact--title {
  font-family: "Montserrat", sans-serif;
  color: #1D1F45;
  font-size: 26px;
  font-weight: 700;
  padding: 0 0 24px 0;
}

.form__contact--field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__contact__decoration {
  background: #fefefe;
}
/*# sourceMappingURL=styles.css.map */