
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Mulish:wght@400;500;700&display=swap');

// Colors

$white: #fefefe;
$yellow: #FFB600;
$light-blue: #13A6DF;
$dark-blue: #1D1F45;
$violet: #6369D1;
$grey: #787878;

// Fonts 

$font-primary: 'Mulish', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
